<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irontec.bandabeat"
    android:versionCode="1"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" android:debuggable="false">
       
        <activity
            android:name=".TrackActivity"
            android:screenOrientation="portrait" >
        </activity>
       
		<activity
            android:name=".LoginActivity3"
            android:screenOrientation="portrait" >    
        </activity>
        
		<activity
            android:name=".HTMLActivity"
            android:screenOrientation="portrait" >    
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
             <intent-filter>
                 <action android:name="com.irontec.action.PLAYER" />
                 <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".PublicPlaylistActivity"
            android:label="@string/playlist_public_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".PublicTrackActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.irontec.bandabeat.service.PlayerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.irontec.action.PLAY" />
            </intent-filter>
        </service>

        <provider
            android:name="com.irontec.bandabeat.provider.PlaylistProvider"
            android:authorities="com.irontec.bandabeat.provider.Playlist"
            android:exported="false" />
        <provider
            android:name="com.irontec.bandabeat.provider.TrackProvider"
            android:authorities="com.irontec.bandabeat.provider.Track"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:label="Banda Beat"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>